.boutiqueDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  padding-top: 15vh;
  margin: auto;
}

.boutiqueTitre {
  display: flex;
  border: 3px solid rgba(251, 176, 59, 1);
  justify-content: center;
  width: 100%;
  border-radius: 10vw;
  padding: 1vw;
  margin: 3vw;
}

.boutiqueDivShirt {
  display: flex;
  flex-direction: row;
}

.boutiqueShirtFront {
  display: flex;
  border: 3px solid rgba(251, 176, 59, 1);
  justify-content: center;
  margin: 3vw;
  background-color: gray;
  background-image: '../../../assets/backgroundHope.png';
  height: 40vw;
}

.boutiqueP {
  display: flex;
  margin-top: 1vw;
  margin-bottom: 2vw;
}

.boutiqueButton {
  font-size: large;
  background-color: rgba(251, 176, 59, 1);
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
/* ajout d'un hover */
}
