.propos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
}

.proposImageShake{
    display: flex;
    justify-content: center;
    margin-bottom: 4vw;
}

.ImageproposShake{
    display: flex;
    align-content:center;
    width: 50%;
}

.proposCombler{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4vw;
}

.proposComblerText{
    display: flex;
    width: 60%;
}


.Imagepropos1{
    display: flex;
    width: 50%;
}

.proposImage1{
    display: flex;
    justify-content: left;
}

.Imagepropos2{
    display: flex;
    width: 50%;
}

.proposImage2{
    display: flex;
    justify-content: right;
}

.proposH1{
    margin-top: 1vw;
    /* border: 4px solid rgba(173,88,43,1);
    border-radius: 10vw; */
    padding: 1vw;
    /* background-color: #e2dada;
    color: rgba(30,0,36,1); */
}

.DivproposH2{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 4vw;
}

.proposH2{
    display: flex;
    border: 3px solid rgba(251,176,59,1);
    justify-content: center;
    /* background-color: #e2dada; */
    /* color: rgba(30,0,36,1); */
    border-radius: 10vw; 
    padding: 1vw;
    margin: 3vw;
}

.proposH3{
    /* border: 3px solid rgba(73,20,20,1);
    border-radius: 10vw; */
    /* padding: 1vw; */
    margin: 1vw;
}

.proposP{
    display: flex;
    text-align: justify;
    margin: 3vw;
}

.untilEnd {
    display: flex;
    justify-content: center;
}

.untilTheEnd {
    width: 50%;
    display: flex;  
}