.propos{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
}

.proposText{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 75%;
}

.untilEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.untilTheEnd {
    width: 50%;
    display: flex;
    justify-content: center;  
}


@media screen and (max-width: 1224px) {
    .Divpropos p {
        text-align: center;
        width: 100%;
    }

    .proposP {
        margin: 0 0 2vh 0;
    }

    /* margin-bottom: auto;
    margin-top: auto; */
}

.ImageAmbitions{
    display: flex;
    width: 50px;
    height: 50px;
    margin: 3vw;

}