.Team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;
    width: auto;
    margin: auto;
    padding-top: 20vh;
    height: 78vh;
}

@media screen and (max-width: 1224px) {
    .Team{
        height: 200vh;
    }
}
