.container-card {
    width: 100%;
}

.joueur {
    width: 20vw;
}

.player-card {
    position: relative;
    overflow: hidden;
    transition: all 1s ease-in-out;
    width: 20vw;
}

.card-move {
    display: flex;
    flex-direction: row;
}

.card-move:hover {
    transform: translateX(-100%);
    transition: all 1s ease-in-out;  
}

.card-move:not(:hover){
    transition: all 1s ease-in-out;
   }

.irl {
    display: flex;
    flex-direction: column;
    width: 20vw;
    text-align: center;
    align-items: center;
    margin-top: -135%;
    color: rgba(251,176,59,1);
    text-shadow: 0 0 2px rgb(41, 20, 44), 0 0 2px rgb(41, 20, 44), 0 0 2px rgb(41, 20, 44), 0 0 2px rgb(41, 20, 44), 0 0 2px rgb(41, 20, 44), 0 0 2px rgb(41, 20, 44), 0 0 2px rgb(41, 20, 44), 0 0 2px rgb(41, 20, 44), 0 0 2px rgb(41, 20, 44), 0 0 2px rgb(41, 20, 44), 0 0 2px rgb(41, 20, 44), 0 0 2px rgb(41, 20, 44), 0 0 2px rgb(41, 20, 44), 0 0 2px rgb(41, 20, 44), 0 0 2px rgb(41, 20, 44), 0 0 2px rgb(41, 20, 44), 0 0 2px rgb(41, 20, 44), 0 0 2px #d60, 0 0 2px #d60, 0 0 2px #d60;
}

.irl-name {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.irl-name-info {
    margin-right: 1vw;
    margin-left: 1vw;
}

.occupation {
    margin-bottom: 2vh;
}

.qualities-quotes {
    display: flex;
    flex-direction: column;
}

.quotes {
    margin-bottom: 1vh;
}

.qualities {
    margin-bottom: 1vh;
}

.other-games {
    margin-bottom: 1vh;
}

.description-player {
    margin-bottom: 1vh;
}

.social-media {
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.discord {
    margin-bottom: 1vh;
}

