.container-card {
    width: 100%;
}

.player-card {
    position: relative;
    overflow: hidden;
    transition: all 1s ease-in-out;
    width: 440px;
    
}

.card-move {
    display: flex;
    flex-direction: row;
}

.card-move:hover {
    transform: translateX(-100%);
    transition: all 1s ease-in-out;  
}

.card-move:not(:hover){
    transition: all 1s ease-in-out;
   }

.irl {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.irl-name {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.irl-name-info {
    margin-right: 1vw;
    margin-left: 1vw;
}

.occupation {
    margin-bottom: 2vh;
}

.qualities-quotes {
    display: flex;
    flex-direction: column;
}

.quotes {
    margin-bottom: 1vh;
}

.qualities {
    margin-bottom: 1vh;
}

.other-games {
    margin-bottom: 1vh;
}

.description-player {
    margin-bottom: 1vh;
}

.social-media {
    display: flex;
    flex-direction: row;
}

.discord {
    margin-bottom: 1vh;
}

.social-media li {
    text-decoration: none;
}