.joueur {
    width: 240px;
    height: 300px;
    object-fit: cover;
    margin-left: auto;
	margin-right: auto;
	margin-bottom: 3vh;
}

.panel {
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
    padding-right: 2vw;
    /* border: 2px rgb(243, 6, 46) solid; */
}

.right-panel {
    display: flex;
    flex-direction: column;
    /* border: 2px rgb(241, 234, 235) solid; */
    width: 100%;
}

.citation {
    margin: auto;
    font-style: italic;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name p {
	margin-top: 5vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    text-transform: uppercase;
    font-weight: bold;
}

.main-info-container {
    /* border: 5px pink solid; */
    display: flex;
    flex-direction: row;
}

.container-1 {
    display: flex;
    flex-direction: column;
    /* border: 2px rgb(3, 180, 250) solid; */
    width: 50%;
    // justify-content: center;
    text-align: center;
	width: 330px;
	color: black;
	background: rgb(30,0,36);
	background: rgb(30,0,36);
	background: linear-gradient(0deg, rgba(30,0,36,1) 0%, rgba(73,20,20,1) 30%, rgba(173,88,43,1) 60%, rgba(251,176,59,1) 100%);
	margin: auto auto 15vh auto;
	font-size: 15px;
	border-radius: 9px;
	box-shadow: 0px 0px 16px 9px rgba(0,0,0,0.38);
	border: 2px solid black;
}

.cardTextStyle {
    color: white;
	margin: auto auto 2vh auto;
}

.main-info-container ul {
    background-color: #18181b;
	border-radius: 0 0 9px 9px;
	box-shadow: 0px -7px 10px 0px rgba(0,0,0,0.49);
}

.main-info-container li {
	text-decoration: none;
	list-style-type: none;
	padding: 1vh;
}

.container-1 p {
    text-align: center;
}

.empty {
    padding-left: 10%;
    padding-right: 10%;
}


.container-2 {
    display: flex;
    flex-direction: column;
    /* border: 2px rgb(8, 235, 140) solid; */
    width: 50%;
    // justify-content: center;
    text-align: center;
	font-size: 15px;
	width: 330px;
	color: black;
	background: rgb(30,0,36);
	background: rgb(30,0,36);
	background: linear-gradient(0deg, rgba(30,0,36,1) 0%, rgba(73,20,20,1) 30%, rgba(173,88,43,1) 60%, rgba(251,176,59,1) 100%);
	margin: auto auto 15vh auto;
	border-radius: 9px;
	box-shadow: 0px 0px 16px 9px rgba(0,0,0,0.38);
	border: 2px solid black;
}

.container-2 p {
    text-align: center;
}

.second-info {
    display: flex;
    flex-direction: column;
    // align-items: center;
    /* border: 2px rgb(176, 236, 11) solid; */
	text-align: center;
	width: 330px;
	color: black;
	background: rgb(30,0,36);
	background: rgb(30,0,36);
	background: linear-gradient(0deg, rgba(30,0,36,1) 0%, rgba(73,20,20,1) 20%, rgba(173,88,43,1) 60%, rgba(251,176,59,1) 100%);
	margin: auto auto 15vh auto;
	border-radius: 9px;
	box-shadow: 0px 0px 16px 9px rgba(0,0,0,0.38);
	border: 2px solid black;
	font-size: 15px;
}

.second-info ul {
    background-color: #18181b;
	border-radius: 0 0 9px 9px;
	box-shadow: 0px -7px 10px 0px rgba(0,0,0,0.49);
}

.second-info li {
	text-decoration: none;
	list-style-type: none;
	padding: 1vh;
}

.socialIcon {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	border-top: 2px solid black;
	
	height: 50px;
}

.socialIcon {
	font-size: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 18%;
	margin: auto;
	list-style-type: none;
}

.socialIcon {

	li a {
		color: white;
	}

	li:nth-child(1) {
	border-radius: 0 0 0 9px;
	width: 5%;
	border-right: 2px solid black;
	}

	li:nth-child(2) {
		width: 5%;
		border-right: 2px solid black;
		font-size: 30px;
	}

	li:nth-child(3) {
		width: 5%;
		border-right: 2px solid black;
		font-size: 30px;
	}

	li:nth-child(4) {
		width: 5%;
		border-right: 2px solid black;
		font-size: 30px;
		}
	
	li:nth-child(5) {
		width: 5%;
	  border-radius: 0 0 9px 0;
		font-size: 30px;
	}
	

	.full:hover {
		background: rgb(30,0,36);
		background: rgb(30,0,36);
		background: linear-gradient(0deg, rgba(173,88,43,1) 30%, rgba(251,176,59,1) 100%);
	}

	.empty a{
		cursor: default;
	}
}