.globalForm{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.globalForm.p{
    
margin: auto;
}

.contactFormDiv{
margin-top: auto;
}

.contact{
 display: flex;
 flex-direction: column;
 text-align: left;
 justify-content: center;
 margin: auto;
 width: 90%;
}

.contactLabel{
    justify-content: left;
    text-align: left;
}

#message{
height: 100px;
width: 81%;
}

.button{
    display: flex;
    justify-content: center;
    width: 15%;
    align-items: center;
    margin: 5vh auto 0 auto;
}