<<<<<<< HEAD
.hallOfFame h1{
	text-align:center;
	margin-top: 3vw;
	margin-bottom: 3vw;
}

.tableauHallOfFame {
	width: 35%;
	margin: auto;
}

.bannière{
	width: 100%;
	justify-content: center;
	border: 6px solid black;
}

.gagnant {
	text-align: center;
	font-size: 50px;
	border: 6px solid black;
	background: rgb(30,0,36);
	background: rgb(30,0,36);
	background: linear-gradient(0deg, rgba(173,88,43,1) 20%, rgba(73,20,20,1) 50%, rgba(30,0,36,1) 100%);
	width: 100%;
	margin-bottom: 0.5vh;

}

.gagnant h2 {
	color: gold;
	margin: 3vh 1vh 3vh 6vh;
	width: 80%;
	border-bottom: 2px solid black;
}


.leaderboard {
	text-align: center;
	border-top: 6px solid black;
	border-left: 6px solid black;
	border-right: 6px solid black;
	font-size: 32px;
	background-color: #e2dada;
	color: black;
	width: 100%;
}

.leaderboard li {
	border-bottom: 3px solid black;
	list-style-type: none;
	font-weight: bold;
}

.leaderboard li {
	padding: 3vh 2vh 3vh 2vh;
}

=======
.hallOfFame h1{
	text-align:center;
}

.tableauHallOfFame {
	width: 35%;
	margin: auto;
}

.gagnant {
	text-align: center;
	font-size: 50px;
	border: 6px solid black;
	background: rgb(30,0,36);
	background: rgb(30,0,36);
	background: linear-gradient(0deg, rgba(173,88,43,1) 20%, rgba(73,20,20,1) 50%, rgba(30,0,36,1) 100%);
}

.gagnant h2 {
	color: gold;
	margin: 3vh 1vh 3vh 6vh;
	width: 80%;
	border-bottom: 2px solid black;
}


.leaderboard {
	text-align: center;
	border-top: 6px solid black;
	border-left: 6px solid black;
	border-right: 6px solid black;
	font-size: 32px;
	background-color: #e2dada;
	color: black;
}

.leaderboard li {
	border-bottom: 3px solid black;
	list-style-type: none;
	font-weight: bold;
}

.leaderboard li {
	padding: 3vh 2vh 3vh 2vh;
}

>>>>>>> 4f13eadd79cf1b070de0a24fda4ad4740f6ff21a
