.webtv {
	padding-top: 15vh;
}

.webtv h2 {
	text-align: center;
	margin: auto;
	padding-top: 8vh;
	padding-bottom: 2vh;
}

.webtv p {
	width: 52% ;
	text-align: justify;
	margin: auto;
	padding-top: 4vh;
}


.twitch-embed {
	border: rgba(251,176,59,1) solid 2px;
	margin: 2vh auto 0 auto;
	width: 80vw;
	height: 61vh;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

@media screen and (max-width: 1224px) {
	.webtv {
		padding-top: 4vh;
	}
}