h2 {
	text-align: center;
	margin: auto;
	padding-top: 10vh;
}

p {
	width: 52% ;
	text-align: center;
	margin: auto;
	padding-top: 5vh;
}


.twitch-embed {
	border: #92731d solid 2px;
	margin: 2vh auto 0 auto;
	width: 80vw;
	height: 62vh;
	margin-top: 2vh;
}