.webtv h2 {
	text-align: center;
	margin: auto;
	padding-top: 10vh;
	padding-bottom: 2vh;
}

.webtv p {
	width: 52% ;
	text-align: justify;
	margin: auto;
	padding-top: 4vh;
}


.twitch-embed {
	border: #92731d solid 2px;
	margin: 2vh auto 0 auto;
	width: 80vw;
	height: 62vh;
	margin-top: 3vh;
}