@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300;1,400&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: fixed;
	width: 100%;
	background: rgb(30,0,36);
	background: rgb(30,0,36);
	background: linear-gradient(90deg, rgba(30,0,36,1) 0%, rgba(73,20,20,1) 50%, rgba(173,88,43,1) 50%, rgba(251,176,59,1) 100%);
}

.button1 {
	color: #e2dada;
	list-style-type: none;
	margin: auto;
  	font-size: 19px;
	margin-left: 5vw ;
	cursor: pointer;
	text-decoration: none;
}

.button2 {
	color: #e2dada;
	list-style-type: none;
	margin: auto;
  	font-size: 19px;
	margin-right: 3.8vw ;
	cursor: pointer;
	text-decoration: none;
}

.polygon {
	width: 20%;
	display: flex;
	background-color: #e2dada;
	clip-path: polygon(20% 0, 80% 0, 65% 100%, 35% 100%);
}

.text-style1 {
	display: flex;
	flex-direction: row;;
}

.text-style2 {
	display: flex;
	flex-direction: row;
}


.logo {
	width: 40%;
	margin: auto;
}