#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-menu-wrap {
  left: 0;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;

  &:hover {
  color: white;
  }
}

.bm-item-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  a {
    font-size: 30px;
    padding-bottom: 2vh;
  }
}

.bm-burger-button {
  display: none;
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 5vh;
	margin-top: -2vh;
}

.bm-burger-bars {
  background: white;
}

#react-burger-cross-btn {
  width: 5.5vh !important;
  height: 5.2vh !important;
  top: 1vh !important;
  left: 1.4vh !important;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  left: 2vh;
  right: 0 !important;

  span { 
    left: 2vh !important;
  
    .bm-cross {
      background: #bdc3c7;
      height: 6vh !important;
    }
  }
}

.bm-menu {
  background:#18181b;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: transparent;
  left: 0;
}

@media screen and (max-width: 1224px) {

  .bm-burger-button {
    display: block;
  }

  .bm-menu-wrap {
    left: 0;
    width: 100% !important;
  }
  
  .navbarMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background: rgb(22, 1, 26);
    border-bottom: rgba(251,176,59,1) solid 3px;
    height: 9.5vh;
  }
}