.card {
	margin-top: 20vh;
}

.card-style {
	text-align: center;
	width: 20%;
	color: black;
	background-color: white;
	margin: auto;
}

.staff-logo {
	width: 70%;
}

.card-text-style {
	color: black;
	margin: auto auto 2vh auto;
}
