
.Staff { 
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

@media screen and (max-width: 1224px) {
	.Staff {
		display: flex;
		flex-direction: column;
	}
}