.homeDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5vh;
}

.homeText{
    display: flex;
    margin-top: 8vh;
    margin-bottom: 3vw;
    justify-content: center;
    text-align: justify;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1224px) {
    .homeDiv {
        padding-bottom: 13vh;
    }
    .HSLogo2 {
        align-self: unset;
    }

    .merchandising {
        flex-direction: column;
    }

    .merchandising p {
        width: 100%;
        text-align: center;
    }
    
    .shirt {
        width: 180px;
    }

    .buttonStyle, .buttonStyle2 {
        border: 0;
    }
}